{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": [">0.2%", "not dead", "not op_mini all"],
        "useBuiltIns": "entry",
        "corejs": 3
      }
    ],
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],

  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-styled-components",
    "macros",
    "react-hot-loader/babel"
  ],

  "env": {
    "production": {
      "plugins": ["transform-remove-console"]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    }
  }
}
